<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Zoul</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>2.0.46</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.434083334686-dt5dpg14o00rup564guua1lrorrnan44</string>
				<string>fb3775579192708946</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Bundle Id</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.zoul.app</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>FIRAnalyticsDebugEnabled</key>
	<true/>
	<key>FacebookAppID</key>
	<string>3775579192708946</string>
	<key>FacebookClientToken</key>
	<string>b5217796afa3ffd2702626d9c308e574</string>
	<key>FacebookDisplayName</key>
	<string>ZOUL-APP</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>whatsapp</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>This app requires access to your camera to capture photos for your profile picture.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>This app requires access to your location to provide personalized features and improve your experience.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>This app needs access to your microphone for playing sound.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>This app requires access to your photo library to select or upload a profile picture.</string>
	<key>NSUserNotificationsUsageDescription</key>
	<string>We use notifications to send user reminders, and these settings can be controlled
			through the app settings.</string>
	<key>UIAppFonts</key>
	<array>
		<string>SFProDisplay-Bold.otf</string>
		<string>SFProDisplay-Semibold.otf</string>
		<string>SFProText-Bold.otf</string>
		<string>SFProText-Regular.otf</string>
		<string>SFProText-Semibold.otf</string>
		<string>Lato-Regular.ttf</string>
		<string>Inter-Black.ttf</string>
		<string>Inter-BlackItalic.ttf</string>
		<string>Inter-Bold.ttf</string>
		<string>Inter-BoldItalic.ttf</string>
		<string>Inter-ExtraBold.ttf</string>
		<string>Inter-ExtraBoldItalic.ttf</string>
		<string>Inter-ExtraLight.ttf</string>
		<string>Inter-ExtraLightItalic.ttf</string>
		<string>Inter-Italic.ttf</string>
		<string>Inter-Light.ttf</string>
		<string>Inter-LightItalic.ttf</string>
		<string>Inter-Medium.ttf</string>
		<string>Inter-MediumItalic.ttf</string>
		<string>Inter-Regular.ttf</string>
		<string>Inter-SemiBold.ttf</string>
		<string>Inter-SemiBoldItalic.ttf</string>
		<string>Inter-Thin.ttf</string>
		<string>Inter-ThinItalic.ttf</string>
		<string>InterDisplay-Black.ttf</string>
		<string>InterDisplay-BlackItalic.ttf</string>
		<string>InterDisplay-Bold.ttf</string>
		<string>InterDisplay-BoldItalic.ttf</string>
		<string>InterDisplay-ExtraBold.ttf</string>
		<string>InterDisplay-ExtraBoldItalic.ttf</string>
		<string>InterDisplay-ExtraLight.ttf</string>
		<string>InterDisplay-ExtraLightItalic.ttf</string>
		<string>InterDisplay-Italic.ttf</string>
		<string>InterDisplay-Light.ttf</string>
		<string>InterDisplay-LightItalic.ttf</string>
		<string>InterDisplay-Medium.ttf</string>
		<string>InterDisplay-MediumItalic.ttf</string>
		<string>InterDisplay-Regular.ttf</string>
		<string>InterDisplay-SemiBold.ttf</string>
		<string>InterDisplay-SemiBoldItalic.ttf</string>
		<string>InterDisplay-Thin.ttf</string>
		<string>InterDisplay-ThinItalic.ttf</string>
		<string>Beyond Infinity.ttf</string>
		<string>PlayfairDisplay-SemiBold.ttf</string>
		<string>PlayfairDisplay-Medium.otf</string>
		<string>PlayfairDisplay-Italic.ttf</string>
		<string>PlayfairDisplay-Regular.ttf</string>
		<string>OPTINaval.otf</string>
		<string>PlayfairDisplay-Medium.ttf</string>
		<string>Caveat-Regular.ttf</string>
		<string>Beyond Infinity - Demo.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string></string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
