<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>434083334686-dt5dpg14o00rup564guua1lrorrnan44.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.434083334686-dt5dpg14o00rup564guua1lrorrnan44</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>434083334686-0c5u1k7s1mgpm9sj0km7rgmhd9l78l74.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBknPEiSNundf6U06E6mDD7tysXdyxbTys</string>
	<key>GCM_SENDER_ID</key>
	<string>434083334686</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zoul.app</string>
	<key>PROJECT_ID</key>
	<string>zoul-meditation-sleep</string>
	<key>STORAGE_BUCKET</key>
	<string>zoul-meditation-sleep.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:434083334686:ios:d0b589e6dcc2ad545bfc0f</string>
</dict>
</plist>